body {
  font-family: "Roboto", Arial, Verdana, sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #849d8f;
}

.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider1.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.site-wrapper::before,
.site-wrapper::after {
  visibility: hidden;
  content: "";
}

.site-wrapper::before {
  background-image: url("../img/slider2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider3.png");
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.list-style {
  list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.button {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
  color: #fff;
  border: none;
  border-radius: 30px;
  outline: none;
  background-image: linear-gradient(#f26843, #e74a35);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.button:hover,
.button:focus {
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0 2px 2px 0 #ac1000;
}

.button:active {
  color: #fceeec;
  border: none;
  background-color: rgba(0, 0, 0, 0.07);
  background-image: linear-gradient(#f26843, #e74a35);
  box-shadow: inset 0 2px 2px 0 #942718;
}

.modal {
  font-weight: 400;
  color: #323232;
  background-color: #f8f7f4;
}

.modal input,
.subscription-item input,
.modal-message textarea {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 0 2px #f8f7f4;
}

.modal input:hover,
.subscription-item input:hover,
.modal-message textarea:hover {
  box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.modal input:focus,
.subscription-item input:focus,
.modal-message textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
}

::-webkit-input-placeholder {
  font-family: "Roboto", Arial, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #999;
}

::-moz-placeholder {
  font-family: "Roboto", Arial, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #999;
}

:-moz-placeholder {
  font-family: "Roboto", Arial, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #999;
}

:-ms-input-placeholder {
  font-family: "Roboto", Arial, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #999;
}

.main-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1146px;
  margin: 0 auto;
  margin-bottom: 274px;
  padding: 0 27px;
}

.navigation-block {
  max-width: 800px;
}

.main-header-logo {
  float: left;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  padding-top: 10px;
}

.main-navigation {
  font-weight: 700;
  line-height: 18px;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
}

.site-navigation {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 23px;
  position: relative;
}

.site-navigation a {
  display: block;
  padding: 7px 14px;
  outline: none;
}

.navigation-link {
  max-width: 170px;
  color: #fff;
}

.navigation-link span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navigation-link:hover,
.navigation-link:focus {
  margin: 0;
  color: #333;
  border: none;
  border-radius: 20px;
  background-color: #f7f6f3;
}

.navigation-link:active {
  text-decoration: none;
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.navigation-link b {
  padding-bottom: 32px;
}

.submenu-link:hover .submenu,
.submenu-link:focus .submenu {
  display: block;
}

.submenu-link {
  position: relative;
}

.submenu {
  line-height: 16px;
  position: absolute;
  top: 37px;
  left: -7px;
  display: none;
  width: 144px;
  padding: 0;
  border-radius: 4px;
  background: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.submenu-link::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  display: none;
  width: 60px;
  height: 18px;
  padding: 7px 14px;
  content: "";
  text-decoration: none;
  border-radius: 20px;
  background-color: #f7f6f3;
}

.submenu-link:hover::before {
  display: block;
}

.submenu-link:hover a {
  color: #333;
}

.submenu a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;
}

.submenu li:first-child {
  margin-top: 8px;
  margin-bottom: 12px;
  padding: 3px 6px 7px 20px;
}

a.submenu-new {
  font-weight: 700;
  position: relative;
}

.submenu-new:after {
  position: absolute;
  top: 28px;
  left: -14px;
  width: 129px;
  height: 1px;
  content: "";
  background: #d1d0ce;
}

.submenu li:nth-child(n+2) {
  margin-bottom: 5px;
  padding: 3px 6px 7px 20px;
}

.submenu li:last-child {
  margin-bottom: 5px;
}

.submenu li:hover,
.submenu li:focus {
  background-color: #fbded7;
}

.submenu li:active {
  background-color: #f6b5a5;
}

.submenu a {
  padding: 0;
}

.user-block {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  width: 267px;
}

.search {
  display: flex;
  justify-content: center;
  width: 33px;
  height: 33px;
  margin: 0;
  color: #fff;
  border-radius: 50%;
  outline: none;
  background-color: rgba(248, 247, 244, 0.2);
}

.search svg {
  margin-top: 8px;
}

.search:hover,
.search:focus {
  background-color: #f8f7f4;
}

.search:hover path,
.search:focus path {
  fill: #323232;
}

.search-wrapper:hover .modal-search {
  display: block;
}

.search-wrapper {
  position: relative;
  z-index: 2;
  margin-top: 14px;
  padding-bottom: 15px;
}

.search-wrapper::before {
  position: absolute;
  z-index: -1;
  display: none;
  width: 33px;
  height: 33px;
  content: "";
  border-radius: 50%;
  background-color: #f8f7f4;
}

.search-wrapper:hover::before {
  display: block;
}

.search-wrapper:hover path {
  fill: #323232;
}

.modal-search {
  position: absolute;
  top: 37px;
  right: 0;
  display: none;
  width: 341px;
  min-height: 84px;
  margin: 0;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.modal-search input {
  box-sizing: border-box;
  width: 311px;
  min-height: 44px;
  margin: 0;
  margin-top: 3px;
  margin-left: 15px;
  padding-top: 7px;
  padding-bottom: 9px;
  padding-left: 13px;
  border-radius: 4px;
}

.modal-search input::-webkit-input-placeholder,
.modal-login input::-webkit-input-placeholder {
  font-size: 14px;
}

.modal-search input::-moz-placeholder,
.modal-login input::-moz-placeholder {
  font-size: 14px;
}

.modal-search input:-moz-placeholder,
.modal-login input:-moz-placeholder {
  font-size: 14px;
}

.modal-search input:-ms-input-placeholder,
.modal-login input:-ms-input-placeholder {
  font-size: 14px;
}

.user-navigation {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.login-link {
  position: relative;
  z-index: 1;
  margin: 0;
  margin-left: 9px;
  padding: 8px 16px 8px 45px;
  color: #fff;
  border-radius: 20px;
  outline: none;
  background-color: rgba(248, 247, 244, 0.2);
}

.login-link:hover,
.login-link:focus {
  font-weight: 500;
  color: #323232;
  background-color: #f8f7f4;
}

.login-link::before {
  position: absolute;
  top: 6px;
  left: 17px;
  width: 22px;
  height: 20px;
  content: "";
  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 21px 19px;
}

.login-link:hover::before,
.login-link:focus::before {
  background-image: url("../img/entrance-black.svg");
}

.login-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  margin-top: 14px;
  padding-top: 9px;
  padding-bottom: 23px;
}

.login-wrapper:hover .modal-login {
  display: block;
}

.login-wrapper:hover a,
.login-wrapper:focus a {
  color: #323232;
  background-color: #f8f7f4;
}

.login-wrapper:hover::after,
.login-wrapper:focus::after {
  position: absolute;
  z-index: 2;
  top: 14px;
  left: 26px;
  width: 22px;
  height: 20px;
  content: "";
  cursor: pointer;
  background-color: #f8f7f4;
  background-image: url("../img/entrance-black.svg");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 21px 19px;
}

.modal-login {
  position: absolute;
  top: 45px;
  right: -1px;
  display: none;
  width: 277px;
  min-height: 214px;
  margin: 0;
  color: #999;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.modal-login input {
  box-sizing: border-box;
  width: 240px;
  margin: 5px 20px;
  margin-bottom: 1px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 13px;
  border-radius: 4px;
}

.entrance-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 3px;
}

.login-form .button {
  margin: 3px 20px 22px 19px;
  padding: 10px 25px;
  border-radius: 20px;
}

.registration {
  padding: 0;
}

.modal-login a {
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  color: #323232;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.modal-login a:hover,
.modal-login a:focus,
.modal-login a:active {
  font-weight: 400;
  color: #e84d37;
  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}

.basket-link {
  position: relative;
  z-index: 1;
  margin: 0;
  margin-left: 10px;
  padding: 8px 16px 8px 45px;
  color: #fff;
  border-radius: 20px;
  outline: none;
  background-color: rgba(248, 247, 244, 0.2);
}

.basket-link:hover,
.basket-link:focus {
  font-weight: 500;
  color: #323232;
  background-color: #f8f7f4;
}

.basket-link::before {
  position: absolute;
  top: 7px;
  left: 16px;
  width: 23px;
  height: 22px;
  content: "";
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 21px 20px;
}

.basket-link:hover::before,
.basket-link:focus::before {
  width: 21px;
  height: 20px;
  background-image: url("../img/basket-red.svg");
}

.basket-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  margin-top: 14px;
  padding-top: 9px;
  padding-bottom: 23px;
  flex-wrap: wrap;
}

.basket-wrapper:hover .modal-basket,
.basket-wrapper:focus .modal-basket {
  display: block;
}

.basket-wrapper:hover .basket-link,
.basket-wrapper:focus .basket-link {
  color: #323232;
  background-color: #f8f7f4;
}

.basket-wrapper:hover::after,
.basket-wrapper:focus::after {
  position: absolute;
  z-index: 1;
  top: 16px;
  left: 26px;
  width: 23px;
  height: 22px;
  content: "";
  cursor: pointer;
  background-color: #f8f7f4;
  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 21px 20px;
}

.basket-current {
  font-weight: 500;
  z-index: 2;
  color: #323232;
  background-color: #f8f7f4;
}

.basket-current::after {
  position: absolute;
  z-index: 2;
  top: 7px;
  left: 16px;
  width: 23px;
  height: 22px;
  content: "";
  background-color: #f8f7f4;
  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 21px 20px;
}

.modal-basket {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  position: absolute;
  top: 45px;
  right: -1px;
  display: none;
  width: 540px;
  color: #323232;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.basket-form {
  padding: 20px 15px 21px 13px;
}

.basket-list {
  padding: 0;
}

.basket-item {
  position: relative;
  display: flex;
  padding-top: 9px;
  padding-bottom: 28px;
  padding-left: 73px;
}

.basket-item:last-child {
  padding-bottom: 13px;
}

.modal-basket h3 {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  width: 220px;
  margin: 0;
  margin-right: 27px;
}

.basket-item:nth-child(1)::before {
  position: absolute;
  top: 0;
  left: 27px;
  width: 33px;
  height: 33px;
  content: "";
  background-image: url("../img/ice-cream1.1.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 33px;
}

.basket-item:nth-child(2)::before {
  position: absolute;
  top: 0;
  left: 28px;
  width: 33px;
  height: 33px;
  content: "";
  background-image: url("../img/ice-cream1.3.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 33px;
}

.basket-amount {
  width: 110px;
  margin: 0;
  margin-right: 13px;
}

.basket-amount span {
  color: #999;
}

.basket-value {
  width: 60px;
  margin: 0;
}

.basket-item .modal-close {
  position: absolute;
  top: 8px;
  left: 0;
  width: 14px;
  height: 14px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.basket-item .modal-close::before,
.basket-item .modal-close::after {
  position: absolute;
  top: 7px;
  left: 1px;
  width: 14px;
  height: 1px;
  content: "";
  background-color: #231f20;
}

.basket-item .modal-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.basket-item .modal-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.order-wrapper:before {
  position: absolute;
  top: 3px;
  left: 2px;
  width: 510px;
  height: 1px;
  content: "";
  background: #d1d0ce;
}

.order-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  padding-top: 17px;
}

.basket-total {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  margin: 0;
}

.basket-form .button {
  padding: 9px 15px;
  margin-top: 15px;
}

.call {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 1146px;
  margin-top: -27px;
}

.call-time {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

.call-phone {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  color: #fff;
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.slider {
  position: relative;
  width: 1146px;
  margin-bottom: 41px;
  text-align: center;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-item {
  display: none;
  text-align: center;
}

.slider-item h3 {
  font-size: 60px;
  font-weight: 700;
  line-height: 60.35px;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 29px;
  padding: 0;
}

.slider-item .button {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  padding: 10px 40px;
  border-radius: 30px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.slider-controls {
  font-size: 0;
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  cursor: pointer;
  vertical-align: top;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: transparent;
}

.slider-controls label:hover,
.slider-controls label:focus {
  background-color: rgba(255, 255, 255, 0.4);
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #fff;
}

.gifts {
  max-width: 1146px;
  margin-bottom: 15px;
}

.gifts-list {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.gifts-list li {
  margin-bottom: 26px;
}

.gifts-list h3 {
  font-size: 35px;
  line-height: 41px;
  margin: 17px 19px 15px 19px;
}

.gifts-list p {
  font-size: 18px;
  line-height: 22px;
  margin: 0 19px 44px 20px;
}

.gifts-list .button {
  font-size: 18px;
  line-height: 24px;
  display: block;
  float: right;
  margin: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px 23px 11px 22px;
  border-radius: 50px;
  background-image: linear-gradient(#f26843, #ca3824);
  box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.54);
}

.gifts-list .button:hover,
.gifts-list .button:focus {
  cursor: pointer;
  color: #fff;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(#f26843, #e74a35);
  box-shadow: 0 1px 2px 0 #ac1000;
}

.gifts-list .button:active {
  color: #fceeec;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.07);
  background-image: linear-gradient(#f26843, #e74a35);
  box-shadow: inset 0 2px 2px 0 #942718;
}

.gifts-raspberries,
.gifts-chocolate {
  width: 560px;
  min-height: 230px;
  margin: 0;
  padding: 0;
  border-radius: 17px;
}

.gifts-raspberries {
  background-color: #7a0f22;
  background-image: url("../img/raspberries.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.gifts-chocolate {
  background-color: #3d2316;
  background-image: url("../img/chocolate.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.hits {
  width: 1172px;
  margin: -6px -13px 12px -13px;
}

.hits-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.hits-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 293px;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
}

.hits-item h3 {
  margin: 0;
  margin-top: 11px;
  margin-right: 7px;
  margin-left: 7px;
  padding: 0;
  padding-right: 11px;
  padding-left: 11px;
  text-align: center;
  order: 1;
}

.hits-item a:first-child {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #fff;
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.hits-item a:first-child:hover,
.hits-item a:first-child:focus,
.hits-item a:first-child:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.catalog-image {
  width: 267px;
  height: 267px;
  margin: 0;
  margin-top: 6px;
  margin-left: 13px;
  padding: 0;
}

.hits .catalog-image::before {
  position: absolute;
  top: 6px;
  left: 13px;
  width: 61px;
  height: 61px;
  content: "";
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-price {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  position: absolute;
  top: 214px;
  left: 13px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  min-width: 154px;
  margin: 0;
  padding: 0;
  color: #fff;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.ruble {
  font-weight: 700;
  margin-top: 1px;
  margin-left: 2px;
}

.catalog-price span {
  font-size: 30px;
  left: 10px;
}

.hits-item:hover {
  z-index: 1;
  margin-bottom: -50px;
  padding-bottom: 50px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.08);
}

.hits-item .button {
  display: none;
  margin: 0;
  margin-top: 6px;
  margin-left: 13px;
  padding: 10px 17px;
  order: 2;
}

.hits-item:hover .button {
  position: absolute;
  top: 332px;
  left: 33px;
  display: block;
}

.features {
  max-width: 1146px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  color: #323232;
  border-radius: 15px;
  background-color: #e9dbbe;
  background-image: url("../img/wafer.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.features-wrapper {
  margin: 23px 20px 3px 20px;
  padding: 0;
}

.features h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.features-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  position: relative;
  width: 480px;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  padding-left: 56px;
}

.features-item:nth-child(odd) {
  margin-right: 31px;
}

.features-item:first-child::before {
  position: absolute;
  top: -13px;
  left: 0;
  width: 49px;
  height: 49px;
  content: "";
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item:nth-child(2)::before {
  position: absolute;
  top: -13px;
  left: -2px;
  width: 49px;
  height: 49px;
  content: "";
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item:nth-child(3)::before {
  position: absolute;
  top: -13px;
  left: 0;
  width: 49px;
  height: 49px;
  content: "";
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item:last-child::before {
  position: absolute;
  top: -13px;
  left: -2px;
  width: 49px;
  height: 49px;
  content: "";
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.news-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1146px;
  min-height: 220px;
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
}

.news,
.subscription {
  width: 560px;
  margin: 0;
  padding: 0;
  border-radius: 15px;
}

.news {
  color: #323232;
  background-color: #fff;
  background-image: url("../img/strawberry.jpg");
  background-repeat: no-repeat;
  background-position: 17% 39.5%;
}

.news h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin: 0;
  margin-top: 23px;
  margin-left: 20px;
  padding: 0;
}

.news-headline {
  display: block;
  max-width: 285px;
  margin-top: 4px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 0;
}

.news a {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: underline;
  color: #323232;
  outline: none;
}

.news a:hover,
.news a:focus {
  color: #e84d37;
}

.subscription {
  font-size: 16px;
  width: 560px;
  color: #5a5a5a;
  border-radius: 15px;
  background-color: #fff;
  background-image: url("../img/post.svg");
  background-size: 39px 39px;
  background-position: 0 0;
}

.subscription-wrapper {
  display: flex;
  flex-direction: column;
  width: 548px;
  min-height: 208px;
  margin: 6px;
  padding: 0;
  border-radius: 15px;
  background-color: #f8f7f4;
}

.subscription-info {
  font-weight: 400;
  line-height: 22px;
  margin: 28px 21px 19px 21px;
  padding: 0;
  ;
}

.subscription-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 19px;
  padding: 0;
}

.subscription-item input {
  box-sizing: border-box;
  width: 368px;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 14px;
}

.subscription-form .button {
  display: block;
  margin: 0;
  padding: 10px 19px;
}

.contacts {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 430px;
  margin-bottom: 5px;
  padding: 0;
}

.contacts iframe {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 430px;
}

.contacts-wrapper {
  position: relative;
  display: flex;
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.contacts-wrapper img {
  position: absolute;
  z-index: 1;
  width: 1200px;
  height: 430px;
  margin: 0;
  margin-left: -27px
}

.contacts-info {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  position: absolute;
  z-index: 3;
  top: 62px;
  right: 27px;
  width: 302px;
  min-height: 305px;
  color: #323232;
  border-radius: 15px;
  background-color: #fffffe;
}

.main-contacts {
  display: block;
  margin: 29px 25px 0 25px;
  padding: 0;
}

.main-contacts span,
.contacts-call span {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.contacts-call {
  line-height: 22px;
  display: block;
  margin: 20px 25px 24px 0;
  padding: 0;
  color: #323232;
  border: none;
}

.contacts-call .phone {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.contacts-call:first-child {
  line-height: 20px;
}

.contacts-info .button {
  display: block;
  margin: 15px 25px 30px 25px;
  padding: 10px 19px;
}

@keyframes bounce {
  0% {
    transform: translateX(280px);
  }

  70% {
    transform: translateX(-30px);
  }

  90% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-message {
  position: fixed;
  z-index: 5;
  top: 50%;
  left: 50%;
  display: none;
  width: 427px;
  margin-top: -210px;
  margin-left: -237px;
  padding: 15px 25px 27px 24px;
  border-radius: 10px;
}

.modal-show {
  display: block;
  animation: bounce 0.5s;
}

.modal-error {
  animation: shake 0.5s;
}

.modal-message h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin: 0;
  margin-bottom: 20px;
  color: #323232;
}

.message-form p {
  margin: 0;
  margin-bottom: 21px;
}

.message-form input[type="text"] {
  box-sizing: border-box;
  width: 267px;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 13px;
}

.message-form textarea {
  box-sizing: border-box;
  width: 100%;
  overflow: auto;
  margin: 0;
  padding-top: 7px;
  padding-left: 14px;
  resize: none;
}

.message-form .button {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  margin-top: -4px;
  margin-left: 291px;
  padding: 10px 23px;
}

.modal-message .modal-close {
  font-size: 0;
  position: absolute;
  top: 11px;
  right: 13px;
  width: 22px;
  height: 22px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.modal-message .modal-close::before,
.modal-message .modal-close::after {
  position: absolute;
  top: 10px;
  left: 0;
  width: 22px;
  height: 2px;
  content: "";
  background-color: #231f20;
}

.modal-message .modal-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-message .modal-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.overlay {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.overlay-show {
  display: block;
}

.main-footer {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
  color: #fff;
}

.main-footer a {
  color: #fff;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 12px 0 26px 0;
}

.footer-socials ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 186px;
  max-width: 267px;
  margin: 0;
  padding: 18px 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;
  outline: none;
}

.social-button svg {
  opacity: 0.8;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-button:hover svg,
.social-button:focus svg {
  opacity: 1;
  border: 2px solid rgba(255, 255, 255, 0.7);
}

.social-button:active path {
  border: 2px solid rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 2px 1px 0 #888;
  fill: #e9e9e9;
}

.footer-info {
  display: flex;
  justify-content: center;
  max-width: 612px;
  margin: 0 auto;
  padding: 0;
}

.footer-info ul:first-child {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 293px;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-right: 27px;
  padding-left: 83px;
}

.footer-info ul:first-child::before {
  position: absolute;
  top: 19px;
  left: 62px;
  width: 15px;
  height: 13px;
  content: "";
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-info ul:first-child:hover::before svg,
.footer-info ul:first-child:focus::before svg {
  background-color: #ffbc9e;
}

.footer-info ul:last-child {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 319px;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-left: 5px;
}

.footer-info li {
  margin-bottom: 5px;
}

.footer-info a,
.footer-copyright a {
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-info a:hover,
.footer-info a:focus,
.footer-info a:active,
.footer-copyright a:hover,
.footer-copyright a:focus,
.footer-copyright a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.footer-copyright {
  font-size: 12px;
  max-width: 267px;
  margin: 0;
  padding: 0;
}

.footer-copyright img,
.footer-copyright img:hover,
.footer-copyright img:focus,
.footer-copyright img:active {
  border-bottom: none;
}

.footer-copyright img {
  float: right;
  padding-right: 80px;
}

.footer-copyright p {
  float: right;
  margin: 0;
  margin-top: 6px;
  padding: 0;
}

/* catalog.html */

.inner-page .main-header {
  margin-bottom: -19px;
}

.navigation-current > a,
.navigation-current > a:hover,
.navigation-current > a:focus,
.navigation-current > a:active {
  margin: 0;
  color: #fff;
  border-radius: 20px;
  background-color: #d07058;
  box-shadow: none;
}

.navigation-current span {
  border: none;
}

.navigation-current::before {
  background-color: #d07058;
}

.navigation-current:hover > a {
  color: #fff;
}

.breadcrumbs {
  position: relative;
  z-index: 1;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  flex-wrap: wrap;
  min-height: 16px;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.breadcrumbs li {
  padding-right: 7px;
}

.breadcrumbs a {
  margin-right: 8px;
  color: #fff;
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.page-title {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  width: 1146px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  color: #fff;
}

.filters {
  width: 860px;
  margin-bottom: 40px;
}

.filter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.filter fieldset {
  border: none;
}

.legend,
.filter legend {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #fff;
}

.filter-sorting {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.filter-sorting .legend {
  width: 163px;
  min-height: 16px;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 16px;
  padding: 0;
}

.sorting-select select {
  font: inherit;
  width: 193px;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 16px;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sorting-select select:hover,
.sorting-select select:focus {
  color: #323232;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
}

.sorting-select select:active {
  border: none;
  outline: none;
}

.sorting-select::before {
  position: absolute;
  z-index: 1;
  top: 36px;
  right: 15px;
  content: "";
  pointer-events: none;
  border-width: 9px 5px 0 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.sorting-select:hover::before {
  border-width: 9px 5px 0 5px;
  border-style: solid;
  border-color: #323232 transparent transparent transparent;
}

.sorting-select::after {
  position: absolute;
  z-index: -1;
  top: 21px;
  left: 0;
  display: none;
  width: 164px;
  height: 21px;
  padding: 7px 14px;
  content: "";
  border-radius: 20px;
  background-color: #fff;
}

.sorting-select:hover::after {
  display: block;
}

.filter-price {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.filter-price .legend {
  width: 182px;
  min-height: 16px;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 13px;
  padding: 0;
}

.range-controls {
  position: relative;
  width: 176px;
  height: 18px;
  padding-top: 18px;
  padding-right: 21px;
  padding-left: 21px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.range-controls .scale {
  height: 2px;
  background-color: rgba(248, 247, 244, 0.5);
}

.range-controls .bar {
  width: 100px;
  height: 2px;
  background: #f8f7f4;
}

.range-controls .toggle {
  position: absolute;
  top: 9px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background-color: #ababab;
}

.range-controls .toggle-min {
  left: 33px;
}

.range-controls .toggle-max {
  left: 131px;
}

.range-controls .toggle:hover,
.range-controls .toggle:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.filter ul {
  font-size: 16px;
  line-height: 18px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-fat .filter-option:first-child {
  margin-left: 40px;
}

.filter-fat .filter-option:last-child {
  margin-right: 19px;
}

.filter-fat .filter-option {
  padding-top: 3px;
  padding-left: 3px;
}

.filter-fat {
  display: flex;
  margin: 0;
  padding: 0;
}

.filter-fat legend {
  width: 103px;
  min-height: 16px;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 13px;
  padding: 0;
}

.filter-fat ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 415px;
  min-height: 36px;
  margin: 0;
  padding: 0;
}

.filter-input-radio + label::before {
  position: absolute;
  top: -3px;
  left: -31px;
  width: 16px;
  height: 16px;
  content: "";
  opacity: .8;
  border: 3px solid #fff;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  position: absolute;
  top: 4px;
  left: -24px;
  width: 8px;
  height: 8px;
  content: "";
  opacity: .8;
  border-radius: 50%;
  background-color: #fff;
}

.filter-input-radio + label:hover::before,
.filter-input-radio + label:focus::before,
.filter-input-radio:checked + label:hover::after,
.filter-input-radio:checked + label:focus::after {
  opacity: 1;
}

.filter-wrapper {
  display: flex;
  margin: 0;
  margin-top: 18px;
  padding: 0;
}

.filter-filler {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.filter-filler legend {
  width: 251px;
  min-height: 16px;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 16px;
  padding: 0;
}

.filter-filler ul {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 702px;
  min-height: 36px;
  margin: 0;
  margin-right: 14px;
  padding: 0;
}

.filter-filler .filter-option:first-child {
  margin-left: 40px;
}

.filter-filler .filter-option:last-child {
  margin-right: 18px;
}

.filter-filler .filter-option {
  padding-left: 7px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
}

.filter-input-checkbox + label::before {
  position: absolute;
  top: -2px;
  left: -34px;
  width: 24px;
  height: 23px;
  content: "";
  opacity: 0.8;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 22px 21px;
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox + label:focus::before {
  opacity: 1;
}

.filter-input-checkbox:checked + label::after {
  position: absolute;
  top: -2px;
  left: -34px;
  width: 27px;
  height: 23px;
  content: "";
  background-color: #9db1a5;
  background-image: url("../img/checkbox-checked.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 26px 21px;
}

.filter-input-checkbox:checked + label:hover::after,
.filter-input-checkbox:checked + label:focus::after {
  background-image: url("../img/checkbox.svg");
}

.filter-input:disabled+label {
  opacity: 0.4;
}

.filter-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  width: 144px;
  height: 36px;
  margin: 0;
  margin-top: 21px;
  padding: 0;
  cursor: pointer;
  color: #fff;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-button:hover,
.filter-button:focus {
  color: #323232;
  border: none;
  outline: none;
  background-color: #fbfcfb;
}

.filter-button:active {
  border: none;
  background-color: #eaeaea;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.catalog {
  width: 1172px;
  margin: -6px -13px 40px -13px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 293px;
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
}

.catalog-item h3 {
  margin: 0;
  margin-top: 12px;
  margin-right: 7px;
  margin-left: 7px;
  padding: 0;
  padding-right: 11px;
  padding-left: 11px;
  text-align: center;
  order: 1;
}

.catalog-item a:first-child {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #fff;
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.catalog-item a:first-child:hover,
.catalog-item a:first-child:focus,
.catalog-item a:first-child:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.catalog-item:hover {
  z-index: 1;
  margin-bottom: -43px;
  padding-bottom: 43px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.08);
}

.catalog-item .button {
  display: none;
  margin: 0;
  margin-top: 6px;
  margin-left: 13px;
  padding: 10px 17px;
  order: 2;
}

.catalog-item:hover .button {
  position: absolute;
  top: 332px;
  left: 33px;
  display: block;
}

.pagination-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 49px;
}

.pagination-item a {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  margin-left: 3px;
  color: #fff;
  outline: none;
  border-radius: 50%;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item a:active {
  color: #000;
  background-color: #fff;
}

.pagination-current a {
  color: #000;
  background: rgba(255, 255, 255, 0.2);
  background-color: #fff;
}

.pagination-current a:hover,
.pagination-current a:focus {
  cursor: default;
  color: #323232;
  background-color: #fff;
}

.pagination-back {
  position: relative;
  display: inline-block;
  width: 17px;
  margin-right: 10px;
  vertical-align: top;
}

.pagination-back::before {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 8px;
  height: 8px;
  content: "";
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border: 1px solid #fff;
  border-top-color: transparent;
  border-right-color: transparent;
}

.pagination-disabled::before {
  border-color: rgba(255, 255, 255, 0.2);
  border-top-color: transparent;
  border-right-color: transparent;
}

.pagination-next {
  position: relative;
  width: 17px;
  margin-left: 20px;
  cursor: pointer;
}

.pagination-next::after {
  position: absolute;
  top: 8px;
  left: -8px;
  width: 8px;
  height: 8px;
  content: "";
  cursor: pointer;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  border: 1px solid #fff;
  border-top-color: transparent;
  border-right-color: transparent;
}

.inner-page .main-footer {
  position: relative;
}

.inner-page .main-footer:after {
  position: absolute;
  top: -11px;
  left: 27px;
  width: 1146px;
  height: 1px;
  content: "";
  opacity: 0.3;
  background: #fff;
}

.inner-page .footer-wrapper {
  padding-top: 8px;
}
