body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Verdana, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.list-style {
  list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button,
.catalog-item .button {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  background-color: #f16442;
  background-image: linear-gradient(#f26843, #ca3824);
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
  border: none;
}


.button:hover,
.catalog-item .button:hover,
.button:focus,
.catalog-item .button:focus {
  color: fefefe;
  background-image: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0px 1px 2px 0px #ac1000;
}

.button:active,
.catalog-item .button:active {
  color: #fceeec;
  background-image: linear-gradient(#e74a35, #f26843);
  box-shadow: inset 0px 2px 2px 0px #942718;
}

.modal {
  font-weight: 400;
  color: #323232;
  background-color: #f8f7f4;
}

.modal input,
.subscription-item input,
.modal-message textarea {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.modal input:hover,
.subscription-item input:hover,
.modal-message textarea:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.modal input:focus,
.subscription-item input:focus,
.modal-message textarea:focus {
  outline: none;
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.main-navigation {
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  background-color: #849d8f;
}

.site-navigation a,
.search,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-navigation > li > a:hover,
.site-navigation a:focus {
  color: #333333;
  text-decoration: none;
  background-color: #f7f6f3;
}

.site-navigation > li > a:active {
  color: #333333;
  text-decoration: none;
  background-color: rgba(248, 247, 244, 0.988);
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.catalog-drop a {
  display: none;
}

li:hover .catalog-drop a {
  display: block;
}

.catalog-drop {
  background-color: #f8f7f4;
}

.catalog-drop a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;
}

.catalog-drop a:hover,
.catalog-drop a:focus {
  background-color: #fbded7;
}

.catalog-drop a:active {
  background-color: #f6b5a5;
}

.search {
  background-color: rgba(248, 247, 244, 0.2);
}

.search:hover,
.search:focus {
  font-weight: 500;
  color: #323232;
  background-color: #f8f7f4;
}

/* добавить display:block */
.modal-search {
  display: none;
}

.user-navigation {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.user-navigation a {
  background-color: rgba(248, 247, 244, 0.2);
}

.user-navigation a:hover,
.user-navigation a:focus {
  font-weight: 500;
  color: #323232;
  background-color: #f8f7f4;
}

/* добавить display:block */
.modal-login {
  color: #999999;
  display: none;
}

.modal-login a {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #323232;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.modal-login a:hover,
.modal-login a:focus,
.modal-login a:active {
  font-weight: 400;
  color: #e84d37;
  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}

.schedule-time {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.schedule-phone {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.slider-item {
  text-align: center;
}

.slider-item h3 {
  font-size: 60px;
  font-weight: 700;
  line-height: 60.35px;
}

.slider-item .button {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background-image: linear-gradient(#f26843, #e74a35);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.slider-item .button:hover,
.slider-item .button:focus {
  color: #ffffff;
  background-image: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0px 2px 2px 0px #ac1000;
}

.slider-item .button:active {
  color: #fceeec;
  background-image: linear-gradient(#e74a35, #f26843);
  box-shadow: inset 0px 2px 2px 0px #942718;
}

.gifts-list {
  font-weight: 700;
}

.gifts-list h3 {
  font-size: 35px;
  line-height: 41px;
}

.gifts-list p {
  font-size: 18px;
  line-height: 22px;
}

.gifts-list a {
  font-size: 18px;
  line-height: 24px;
}

.gifts-raspberries {
  background-color: #7a0f22;
  background-image: url("../img/raspberries.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.gifts-chocolate {
  background-color: #3d2316;
  background-image: url("../img/chocolate.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.hits-list {
  background-color: #849d8f;
}

.hits-item a {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
}

.hits-item a:hover,
.hits-item a:focus,
.hits-item a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.catalog-price {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  color: #ffffff;
}

.catalog-price span {
  font-size: 30px;
}

.features {
  color: #323232;
  background-color: #e9dbbe;
  background-image: url("../img/wafer.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.features h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.features-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.news {
  color: #323232;
  background-color: #ffffff;
  background-image: url("../img/strawberry.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.news h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.news a {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #323232;
  border-bottom: 2px solid #323232;
}

.news a:hover,
.news a:focus {
  color: #e84d37;
  border-bottom: 2px solid rgba(232, 77, 55, 0.3);
}

.subscription {
  font-size: 16px;
  color: #5a5a5a;
  background-color: #f8f7f4;
}

.subscription-info {
  font-weight: 400;
  line-height: 22px;
}

.contacts-info {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #323232;
  background-color: #fffffe;
}

.main-contacts span {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

/* добавить display:block */
.modal-message {
  display: none;
}

.modal-message h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #323232;
}

.main-footer {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  background-color: #849d8f;
}

.main-footer a {
  color: #ffffff;
}

a.suppliers {
  font-weight: 700;
}

.footer-info a,
.footer-copyright a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-info a:hover,
.footer-info a:focus,
.footer-info a:active,
.footer-copyright a:hover,
.footer-copyright a:focus,
.footer-copyright a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.footer-copyright {
  font-size: 12px;
}

.footer-copyright > a,
.footer-copyright > a:hover,
.footer-copyright > a:focus,
.footer-copyright > a:active {
  border-bottom: none;
}

/* catalog */

a.navigation-current,
a.navigation-current:hover,
a.navigation-current:focus {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  background-color: #d07058;
}

/* временно, добавить display:block */
.modal-basket {
  display: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;
}

.modal-basket h3 {
  font-weight: inherit;
}

.modal-basket span {
  color: #999999;
}

.basket-total {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

.breadcrumbs {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.breadcrumbs a {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.page-title {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  color: #ffffff;
}

.filter fieldset {
  border: none;
}

.legend,
.filter legend {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
}

.filter ul {
  font-size: 16px;
  line-height: 18px;
}

.filter select {
  font: inherit;
  color: #ffffff;
  background-color: rgba(157, 177, 165, 0.2);
  border: none;
}

.filter select:hover,
.filter select:focus {
  color: #323232;
  background-color: rgba(157, 177, 165, 0.2);
}

.filter select:active {
  color: #323232;
  background-color: #ffffff;
}

.filter option {
  font: inherit;
  color: #323232;
  background-color: #ffffff;
  border: none;
}

.filter option:hover,
.filter option:focus {
  color: #ffffff;
  background-color: 1e90ff;
  border: none;
}

.filter ul {
  background-color: rgba(170, 187, 177, 0.2);
}

.filter-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  background-color: #9cb0a4;
}

.filter-button:hover,
.filter-button:focus {
  color: #323232;
  background-color: #fbfcfb;
}

.filter-button:active {
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.catalog-list {
  background-color: #849d8f;
}

.catalog-item h3 {
  text-align: center;
}

.catalog-item a:first-child {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.catalog-item a:first-child:hover,
.catalog-item a:first-child:focus {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.catalog-item .button {
  color: #ffffff;
  background-image: linear-gradient(#f26843, #e74a35);
  box-shadow: 0px 1px 2px 0px #ac1000;
}

.catalog-item:hover,
.catalog-item:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.08);
}

.pagination-list a {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
}

.pagination-list a:hover,
.pagination-list a:focus {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-list a:active {
  color: #323232;
  background-color: #ffffff;
}

.pagination-current a {
  color: #323232;
  background-color: #ffffff;
}

.pagination-current a:hover,
.pagination-current a:focus {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-not-active a {
  color: rgba(255, 255, 255, 0.2);
}

.pagination-not-active a:hover,
.pagination-not-active a:focus,
.pagination-not-active a:active {
  color: rgba(255, 255, 255, 0.2);
  background-color: transparent;
}


/* Сетка */

html,
body {
  min-width: 1200px;
  min-height: 1650px;
}

.main-header {
  margin-bottom: 280px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  padding: 0 27px;
}

.main-header-logo {
  width: 154px;
  height: 64px;
  margin: 0;
  padding: 10px 25px 0 0;
}

.main-navigation {
  width: 380px;
  margin: 0;
  margin-right: 320px;
  padding: 0;
}

.site-navigation {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.search {
  width: 33px;
  height: 33px;
  margin: 23px 9px 18px 23px;
}

.user-navigation {
  width: 203px;
  height: 32px;
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-bottom: 18px;
  display: flex;
}

.login-link {
  margin-right: 9px;
}

.schedule {
  margin: 0;
  margin-left: 981px;
  padding: 0;
  width: 267px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.schedule-time {
  margin: 0;
  padding: 0;
}

.schedule-phone {
  margin: 0;
  padding: 0;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

/* временно до оживления */
.slider-item:nth-child(2),
.slider-item:nth-child(3) {
  display: none;
}

.slider-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gifts-list {
  width: 1146px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.gifts-raspberries,
.gifts-chocolate {
  width: 560px;
  min-height: 230px;
  margin: 0;
  padding: 0;
}

.hits {
  width: 1146px;
}

.hits-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.hits-item {
  width: 267px;
  min-height: 322px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.hits-item h3 {
  margin: 0;
  padding: 0;
  order: 1;
}

.hits-item .catalog-price {
  margin-top: -70px;
}

.hits-item .button {
  order: 2;
}

.features {
  width: 1146px;
  min-height: 307px;
  margin-bottom: 40px;
}

.features-wrapper {
  margin: 0;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;
}

.features-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.features-item {
  width: 484px;
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  padding-left: 57px;
}

.news-wrapper {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  width: 1146px;
  min-height: 220px;
  display: flex;
  justify-content: space-between;
}

.news,
.subscription {
  margin: 0;
  padding: 0;
  width: 560px;
}

.contacts {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.map {
  margin: 0;
  padding: 0;
  width: 1200px;
  height: 430px;
}

.contacts-info {
  margin: 0;
  margin-left: -150px;
  padding: 0;
  width: 302px;
  height: 305px;
}

.main-footer {
  margin: 0;
  padding: 35px 27px 30px 27px;
}

.main-footer .container {
  display: flex;
}

.footer-socials ul {
  width: 267px;
  height: 38px;
  margin: 0;
  margin-right: 123px;
  padding: 0;
  padding-right: 80px;
  display: flex;
  justify-content: space-between;
}

.social-button {
  width: 38px;
  height: 38px;
}

.footer-info {
  width: 360px;
  min-height: 35px;
  margin: 0;
  margin-top: -15px;
  margin-right: 123px;
  display: flex;
}

.footer-info:first-child {
  width: 170px;
  margin: 0;
  padding: 0;
  padding-left: 32px;
  display: flex;
  flex-direction: column;
}

.footer-info:last-child {
  width: 170px;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
}

.footer-copyright {
  width: 190px;
  height: 60px;
  margin: 0;
  padding: 0;
  margin-top: -15px;
  margin-left: auto;
}


/* Сетки страницы каталога */

.inner-page .main-header {
  margin-bottom: 0;
}

.breadcrumbs {
  width: 293px;
  min-height: 16px;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  padding-right: 50px;
  display: flex;
}

.breadcrumbs li {
  padding-right: 22px;
}

.container h1 {
  width: 560px;
  min-width: 38;
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
}

.filters {
  width: 860px;
  min-height: 133px;
}

.filter {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.filter-sorting {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.filter-sorting .legend {
  width: 163px;
  min-height: 16px;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 16px;
  padding: 0;
}

.filter-sorting select {
  width: 193px;
  min-height: 36px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.filter-price {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.filter-price .legend {
  width: 182px;
  min-height: 16px;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 15px;
  padding: 0;
}

.filter-price input {
  width: 218px;
  min-height: 36px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.filter-fat {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.filter-fat legend {
  width: 103px;
  min-height: 16px;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 15px;
  padding: 0;
}

.filter-fat ul {
  width: 415px;
  min-height: 36px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
}

.filter-filler {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.filter-filler legend {
  width: 251px;
  min-height: 16px;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 16px;
  padding: 0;
}

.filter-filler ul {
  width: 702px;
  min-height: 36px;
  margin: 0;
  margin-right: 14px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-button {
  width: 144px;
  height: 36px;
  margin: 0;
  margin-top: 21px;
  padding: 0;
}

.catalog {
  width: 1146px;
  margin: 0;
  padding: 0;
}

.catalog-list {
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  width: 267px;
  min-height: 323px;
  margin: 0;
  margin-bottom: 40px;
  margin-right: 26px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item h3 {
  width: 257px;
  min-height: 55px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 18px;
  padding: 0;
  order: 1;
}

.catalog-item .catalog-price {
  margin: 0;
  margin-top: -70px;
  padding: 0;
}

.catalog-image {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.catalog-item .button {
  margin: 0;
  padding: 0;
  order: 2;
}

.pagination-list {
  width: 190px;
  margin: 0;
  margin-left: 956px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.inner-page .main-footer {
  margin-top: 30px;
}
