body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Verdana, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: #849d8f;
}

.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider1.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider3.png");
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.list-style {
  list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button,
.hits-item .button,
.catalog-item .button {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  background-color: #f16442;
  background-image: linear-gradient(#f26843, #ca3824);
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
  border: none;
  border-radius: 20px;
}

.button:hover,
.hits-item .button:hover,
.catalog-item .button:hover,
.button:focus,
.hits-item .button:focus,
.catalog-item .button:focus {
  color: #fefefe;
  background-image: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0px 1px 2px 0px #ac1000;
  border: none;
  cursor: pointer;
}

.button:active,
.hits-item .button:active,
.catalog-item .button:active {
  color: #fceeec;
  background-image: linear-gradient(#e74a35, #f26843);
  box-shadow: inset 0px 2px 2px 0px #942718;
  border: none;
  outline: none;
}

.modal {
  font-weight: 400;
  color: #323232;
  background-color: #f8f7f4;
}

.modal input,
.subscription-item input,
.modal-message textarea {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background-color: #ffffff;
  box-shadow: 0 0 0 2px #f8f7f4;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.modal input:hover,
.subscription-item input:hover,
.modal-message textarea:hover {
  box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.modal input:focus,
.subscription-item input:focus,
.modal-message textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
}

::-webkit-input-placeholder {
  font-family: "Roboto", Arial, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
}
::-moz-placeholder {
  font-family: "Roboto", Arial, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
}
:-moz-placeholder {
  font-family: "Roboto", Arial, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
}
:-ms-input-placeholder {
  font-family: "Roboto", Arial, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
}

.main-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 1146px;
  margin: 0 auto;
  margin-bottom: 313px;
  padding: 0 27px;
}

.navigation-block {
  width: 586px;
}

.main-header-logo {
  display: inline-block;
  float: left;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  padding-top: 10px;
}

.main-navigation {
  display: inline-block;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
}

.site-navigation {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.site-navigation a {
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin: 0 14px;
}

.navigation-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navigation-link:hover,
.navigation-link:focus {
  margin: 0;
  color: #333333;
  text-decoration: none;
  background-color: #f7f6f3;
  border-radius: 20px;
  padding: 7px 14px;
}

.navigation-link:active {
  color: #333333;
  text-decoration: none;
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.catalog-drop {
  display: none;
  line-height: 16px;
  padding: 0;
	position: absolute;
	top: 30px;
  left: -7px;
  width: 144px;
	background: #f8f7f4;
	border-radius: 4px;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.catalog-link:hover .catalog-drop {
  display: block;
}

.catalog-link {
  position: relative;
  padding-bottom: 22px;
}

.catalog-link::before {
  display: none;
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  width: 60px;
  height: 20px;
  background-color: #f7f6f3;
  border-radius: 20px;
  padding: 7px 14px;
  z-index: -1;
}

.catalog-link:hover::before {
  display: block;
}

.catalog-link:hover a {
  color: #333333;
}

.catalog-drop a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;
}

.catalog-drop li:first-child {
  padding: 3px 6px 5px 6px;
  margin-top: 7px;
  margin-bottom: 16px;
}

a.drop-link {
	position: relative;
  font-weight: 700;
}

.drop-link:after {
	position: absolute;
	content: "";
	width: 129px;
	height: 1px;
	top: 28px;
	left: -14px;
	background: #d1d0ce;
}

.catalog-drop li:nth-child(n+2) {
  padding: 3px 6px 5px 6px;
  margin-bottom: 4px;
}

.catalog-drop li:last-child {
  margin-bottom: 11px;
}

.catalog-drop li:hover,
.catalog-drop li:focus {
  background-color: #fbded7;
}

.catalog-drop li:active {
  background-color: #f6b5a5;
}

.user-block {
  position: relative;
  width: 267px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
}

.search {
  color: #ffffff;
  margin: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  width: 33px;
  height: 33px;
  background-color: rgba(248, 247, 244, 0.2);
}

.search svg {
  margin-top: 8px;
}

.search:hover,
.search:focus {
  background-color: #f8f7f4;
}

.search:hover path,
.search:focus path {
  fill: #323232;
}

.modal-search {
  position: absolute;
  top: 37px;
  right: 0;
  width: 341px;
  min-height: 84px;
  margin: 0;
  border-radius: 4px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  display: none;
}

.modal-search input {
  box-sizing: border-box;
  margin: 0;
  margin-top: 4px;
  margin-left: 15px;
  padding-left: 14px;
  width: 311px;
  min-height: 44px;
  border-radius: 4px;
}

.search-wrapper:hover .modal-search {
  display: block;
}

.search-wrapper {
  position: relative;
  z-index: 1;
  margin-top: 13px;
  padding-bottom: 13px;
}

.search-wrapper::before {
  display: none;
  content: "";
  position: absolute;
  width: 33px;
  height: 33px;
  background-color: #f8f7f4;
  border-radius: 50%;
  z-index: -1;
}

.search-wrapper:hover::before {
  display: block;
}

.search-wrapper:hover path {
  fill: #323232;
}

.user-navigation {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.login-link {
  position: relative;
  z-index: 1;
  color: #ffffff;
  margin: 0;
  margin-left: 10px;
  padding: 8px 16px 8px 45px;
  border-radius: 20px;
  background-color: rgba(248, 247, 244, 0.2);
}

.login-link:hover,
.login-link:focus {
  font-weight: 500;
  color: #323232;
  background-color: #f8f7f4;
}

.login-link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 17px;
  width: 21px;
  height: 19px;
  background-image: url("../img/entrance-white.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-link:hover::before {
  background-image: url("../img/entrance.svg");
}

.login-wrapper {
  position: relative;
  z-index: 1;
  margin-top: 23px;
  padding-bottom: 23px;
}

.login-wrapper:hover .modal-login {
  display: block;
}

.login-wrapper:hover a {
  background-color: #f8f7f4;
  color: #323232;
}

.login-wrapper:hover::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 27px;
  width: 21px;
  height: 19px;
  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 1;
}

.modal-login {
  position: absolute;
  top: 28px;
  right: -1px;
  width: 277px;
  min-height: 214px;
  margin: 0;
  color: #999999;
  border-radius: 3px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  display: none;
}

.modal-login input {
  box-sizing: border-box;
  margin: 5px 20px;
  margin-bottom: 1px;
  padding-top: 9px;
  padding-left: 12px;
  padding-bottom: 9px;
  width: 240px;
  border-radius: 4px;
}

::-webkit-input-placeholder {
  font-size: 14px;
}
::-moz-placeholder {
  font-size: 14px;
}
:-moz-placeholder {
  font-size: 14px;
}
:-ms-input-placeholder {
  font-size: 14px;
}

.login-form .button {
  padding: 10px 25px;
  margin-right: 20px;
  margin-bottom: 22px;
  margin-left: 19px;
  background-image: linear-gradient(#f26843, #e74a35);
  box-shadow: 0px 1px 2px 0px #ac1000;
  border-radius: 50px;
  border: none;
  outline: none;
}

.login-form .button:hover,
.login-form .button:focus {
  color: #ffffff;
  background-image: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0px 2px 2px 0px #ac1000;
  border: none;
  cursor: pointer;
}

.login-form .button:active {
  color: #fceeec;
  background-image: linear-gradient(#e74a35, #f26843);
  box-shadow: inset 0px 2px 2px 0px #942718;
  border: none;
  outline: none;
}

.entrance-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.registration {
  padding: 0;
}

.modal-login a {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #323232;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.modal-login a:hover,
.modal-login a:focus,
.modal-login a:active {
  font-weight: 400;
  color: #e84d37;
  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}

.basket-link {
  position: relative;
  margin: 0;
  margin-left: 10px;
  padding: 8px 16px 8px 45px;
  border-radius: 20px;
  color: #ffffff;
  background-color: rgba(248, 247, 244, 0.2);
  z-index: 1;
}

.basket-link:hover,
.basket-link:focus {
  font-weight: 500;
  color: #323232;
  background-color: #f8f7f4;
}

.basket-link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 16px;
  width: 21px;
  height: 20px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket-link:hover::before {
  background-image: url("../img/basket-red.svg")
  width: 21px;
  height: 20px;
}

.basket-wrapper {
  position: relative;
  z-index: 1;
  margin-top: 23px;
  padding-bottom: 23px;
}

.basket-wrapper:hover .modal-basket {
  display: block;
}

.basket-wrapper:hover .basket-link {
  background-color: #f8f7f4;
  color: #323232;
}

.basket-wrapper:hover::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 26px;
  width: 21px;
  height: 20px;
  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 1;
}

.basket-current {
  font-weight: 500;
  color: #323232;
  background-color: #f8f7f4;
  z-index: 2;
}

.basket-current::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 16px;
  width: 21px;
  height: 20px;
  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 2;
}

.modal-basket {
  position: absolute;
  display: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;
  top: 28px;
  right: -1px;
  width: 540px;
  border-radius: 4px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.basket-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.basket-item {
  position: relative;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.basket-item:last-child {
  padding-top: 11px;
}

.modal-basket h3 {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  width: 220px;
  margin-left: 44px;
  padding-right: 8px;
  padding-left: 5px;
  order: 3;
}

.basket-item:first-child::before {
  content: "";
  position: absolute;
  top: 19px;
  left: 40px;
  width: 267px;
  height: 267px;
  background-image: url("../img/ice-cream1.1.png");
  background-size: 33px;
  background-repeat: no-repeat;
  background-position: 0 0;
  order: 2;
}

.basket-item:last-child::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 41px;
  width: 267px;
  height: 267px;
  background-image: url("../img/ice-cream1.3.png");
  background-size: 33px;
  background-repeat: no-repeat;
  background-position: 0 0;
  order: 2;
}

.basket-amount {
  width: 110px;
  margin-left: 23px;
  order: 4;
}

.basket-amount span {
  color: #999;
}

.basket-value {
  width: 70px;
  margin-right: 15px;
  margin-left: 15px;
  order: 5;
}

.basket-item .modal-close {
  background: none;
  border: none;
  margin: 10px 5px 13px 9px;
  order: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-wrapper:before {
	position: absolute;
	content: "";
	width: 510px;
	height: 1px;
	top: 3px;
	left: 15px;
	background: #d1d0ce;
}

.order-wrapper {
  margin: 0;
  padding: 3px 15px 21px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.basket-total {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

.basket-form .button {
  color: #ffffff;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding: 9px 15px;
  background-image: linear-gradient(#f26843, #e74a35);
  box-shadow: 0px 1px 2px 0px #ac1000;
  border-radius: 50px;
  border: none;
}

.basket-form .button:hover,
.basket-form .button:focus {
  color: #ffffff;
  background-image: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0px 2px 2px 0px #ac1000;
  border: none;
  cursor: pointer;
}

.basket-form .button:active {
  color: #fceeec;
  background-image: linear-gradient(#e74a35, #f26843);
  box-shadow: inset 0px 2px 2px 0px #942718;
  border: none;
  outline: none;
}

.call {
  position: absolute;
  right: 27px;
  top: 72px;
  margin: 0;
  padding: 0;
  text-align: right;
}

.call-time {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin: 0;
  padding-top: 20px;
  padding: 0;
}

.call-phone {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.slider {
  position: relative;
  width: 1146px;
  margin-bottom: 41px;
  text-align: center;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-item {
  text-align: center;
  display: none;
}

.slider-item h3 {
  font-size: 60px;
  font-weight: 700;
  line-height: 60.35px;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 29px;
  padding: 0;
}

.slider-item .button {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background-image: linear-gradient(#f26843, #e74a35);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  padding: 10px 40px;
  border-radius: 50px;
  border: none;
}

.slider-item .button:hover,
.slider-item .button:focus {
  color: #ffffff;
  background-image: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0px 2px 2px 0px #ac1000;
  border: none;
  cursor: pointer;
}

.slider-item .button:active {
  color: #fceeec;
  background-image: linear-gradient(#e74a35, #f26843);
  box-shadow: inset 0px 2px 2px 0px #942718;
  border: none;
  outline: none;
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 2;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover,
.slider-controls label:focus {
  background-color: rgba(255, 255, 255, 0.4);
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.gifts {
  max-width: 1146px;
  margin-bottom: 40px;
}

.gifts-list {
  font-weight: 700;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.gifts-list h3 {
  font-size: 35px;
  line-height: 41px;
  margin: 16px 19px;
}

.gifts-list p {
  font-size: 18px;
  line-height: 22px;
  margin: 0 19px 42px 19px;
}

.gifts-list .button {
  display: block;
  float: right;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 23px;
  margin: 0;
  margin-right: 20px;
  background-image: linear-gradient(#f26843, #ca3824);
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.2);
  border-radius: 50px;
}

.gifts-list .button:hover,
.gifts-list .button:focus {
  color: #ffffff;
  background-image: linear-gradient(#e74a35, #f26843);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 1px 2px 0px #ac1000;
  border: none;
  cursor: pointer;
}

.gifts-list .button:active {
  color: #fceeec;
  background-image: linear-gradient(#f26843, #e74a35);
  background-color: rgba(0, 0, 0, 0.07);
  box-shadow: inset 0px 2px 2px 0px #942718;
  border: none;
  outline: none;
}

.gifts-raspberries,
.gifts-chocolate {
  width: 560px;
  min-height: 230px;
  margin: 0;
  padding: 0;
  border-radius: 15px;
}

.gifts-raspberries {
  background-color: #7a0f22;
  background-image: url("../img/raspberries.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.gifts-chocolate {
  background-color: #3d2316;
  background-image: url("../img/chocolate.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.hits {
  width: 1172px;
  margin: -6px -13px 40px -13px;
}

.hits-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.hits-item {
  position: relative;
  width: 293px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.hits-item h3 {
  margin: 0;
  margin-top: 5px;
  margin-left: 7px;
  margin-right: 7px;
  padding: 0;
  padding-right: 11px;
  padding-left: 11px;
  order: 1;
  text-align: center;
}

.hits-item a:first-child {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.hits-item a:first-child:hover,
.hits-item a:first-child:focus,
.hits-item a:first-child:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.catalog-image {
  margin: 0;
  margin-top: 6px;
  margin-left: 13px;
  padding: 0;
}

.hits .catalog-image::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 13px;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  min-width: 154px;
  position: absolute;
  top: 214px;
  left: 13px;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  color: #ffffff;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  margin: 0;
  padding: 0;
}

.catalog-price::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 80px;
  width: 31px;
  height: 36px;
  background-image: url("../img/ruble.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-price span {
  font-size: 30px;
  left: 10px;
}

.hits-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: -75px;
  padding-bottom: 75px;
  z-index: 1;
}

.hits-item .button {
  display: none;
  color: #ffffff;
  background-image: linear-gradient(#f26843, #e74a35);
  box-shadow: 0px 1px 2px 0px #ac1000;
  border-radius: 20px;
  margin: 0;
  margin-top: 6px;
  margin-left: 13px;
  padding: 10px 17px;
  order: 2;
}

.hits-item .button:hover,
.hits-item .button:focus {
  color: #ffffff;
  background-image: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0px 2px 2px 0px #ac1000;
  border: none;
  cursor: pointer;
}

.hits-item .button:active {
  color: #fceeec;
  background-image: linear-gradient(#e74a35, #f26843);
  box-shadow: inset 0px 2px 2px 0px #942718;
  border: none;
  outline: none;
}

.hits-item:hover .button {
  position: absolute;
  top: 332px;
  left: 33px;
  display: block;
}

.features {
  display: inline-block;
  color: #323232;
  background-color: #e9dbbe;
  background-image: url("../img/wafer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  max-width: 1146px;
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
}

.features-wrapper {
  margin: 23px 20px 0 20px;
  padding: 0;
}

.features h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.features-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.features-item {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  width: 480px;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  padding-left: 56px;
}

.features-item:nth-child(odd) {
  margin-right: 31px;
}

.features-item:first-child::before {
  content: "";
  position: absolute;
  top: -13px;
  left: 0;
  width: 49px;
  height: 49px;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: -13px;
  left: -2px;
  width: 49px;
  height: 49px;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item:nth-child(3)::before {
  content: "";
  position: absolute;
  top: -13px;
  left: 0;
  width: 49px;
  height: 49px;
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item:last-child::before {
  content: "";
  position: absolute;
  top: -13px;
  left: -2px;
  width: 49px;
  height: 49px;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.news-wrapper {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  max-width: 1146px;
  min-height: 220px;
  display: flex;
  justify-content: space-between;
}

.news,
.subscription {
  margin: 0;
  padding: 0;
  width: 560px;
  border-radius: 15px;
}

.news {
  color: #323232;
  background-color: #ffffff;
  background-image: url("../img/strawberry.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.news h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin: 0;
  padding: 0;
  margin-top: 23px;
  margin-left: 20px;
}

.news-headline {
  display: block;
  max-width: 285px;
  margin-top: 4px;
  margin-left: 20px;
  padding: 0;
}

.news a {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
}

.news a:hover,
.news a:focus {
  color: #e84d37;
  border-bottom: 2px solid rgba(232, 77, 55, 0.3);
}

.subscription {
  font-size: 16px;
  color: #5a5a5a;
  background: url("../img/bg-post.svg") no-repeat;
	border-radius: 15px;
}

.subscription-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #f8f7f4;
  max-width: 548px;
  min-height: 208px;
  border-radius: 15px;
  margin: 6px;
  padding: 0;
}

.subscription-info {
  padding: 0;
  font-weight: 400;
  line-height: 22px;
  margin: 28px 21px 20px 21px;;
}

.subscription-form {
  margin: 0 19px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscription-item input {
  box-sizing: border-box;
  margin: 0;
  padding-top: 9px;
  padding-left: 14px;
  padding-bottom: 9px;
  width: 368px;
}

.subscription-form .button {
  display: block;
  margin: 0;
  padding: 8px 20px 11px 18px;
  background-image: linear-gradient(#f26843, #e74a35);
  box-shadow: 0px 2px 2px 0px #ac1000;
}

.subscription-form .button:hover,
.subscription-form .button:focus {
  color: #ffffff;
  background-image: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0px 2px 2px 0px #ac1000;
  border: none;
  outline: none;
  cursor: pointer;
}

.subscription-form .button:active {
  color: #fceeec;
  background-image: linear-gradient(#e74a35, #f26843);
  box-shadow: inset 0px 2px 2px 0px #942718;
  border: none;
  outline: none;
}

.contacts {
  position: relative;
  margin: 0 -27px;
  padding: 0;
}

.map {
  margin: 0;
  padding: 0;
  width: auto;
}

.contacts-info {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #323232;
  background-color: #fffffe;
  position: absolute;
	top: 62px;
	right: 27px;
	width: 302px;
  height: 305px;
  z-index: 1;
  border-radius: 15px;
}

.main-contacts {
  display: block;
  padding: 0;
  margin: 29px 25px 0 25px;
}

.main-contacts span,
.contacts-call span {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.contacts-call {
  line-height: 22px;
  display: block;
  margin: 19px 25px 26px 25px;
}

.contacts-info .button {
  display: block;
  margin: 15px 25px 30px 25px;
  padding: 8px 19px 11px 19px;
  background-image: linear-gradient(#f26843, #e74a35);
  box-shadow: 0px 2px 2px 0px #ac1000;
}

.contacts-info .button:hover {
  color: #ffffff;
  background-image: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0px 2px 2px 0px #ac1000;
  border: none;
  cursor: pointer;
}

.contacts-info .button:active {
  color: #fceeec;
  background-image: linear-gradient(#e74a35, #f26843);
  box-shadow: inset 0px 2px 2px 0px #942718;
  border: none;
  outline: none;
}


.modal-message {
  position: fixed;
  display: none;
  width: 477px;
  padding: 20px 25px 27px 24px;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
}

.modal-message h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #323232;
  margin: 0;
  margin-bottom: 22px;
  order: -2;
}

.modal-message input {
  box-sizing: border-box;
  width: 267px;
  margin: 0;
  margin-right: 209px;
  padding: 0;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 5px;
}

.modal-message textarea {
  margin: 0;
  padding-top: 12px;
  padding-left: 15px;
  resize: none;
  overflow: auto;
}

.message-form .button {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  margin-left: 340px;
  padding: 10px 23px;
  background-image: linear-gradient(#f26843, #e74a35);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius: 50px;
}

.message-form .button:hover,
.message-form .button:focus {
  color: #ffffff;
  background-image: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0px 2px 2px 0px #ac1000;
  border: none;
  cursor: pointer;
}

.message-form .button:active {
  color: #fceeec;
  background-image: linear-gradient(#e74a35, #f26843);
  box-shadow: inset 0px 2px 2px 0px #942718;
  border: none;
  outline: none;
}

.modal-message .modal-close {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}





.main-footer {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-footer a {
  color: #ffffff;
}

.footer-wrapper {
  margin: 0;
  padding: 12px 0 26px 0;
  display: flex;
  justify-content: space-between;
}

.footer-socials ul {
  width: 186px;
  margin: 0;
  padding: 18px 0;
  max-width: 267px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-button {
  margin: 0;
  padding: 0;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-button svg {
  opacity: 0.8;
  border: solid rgba(255, 255, 255, 0.5) 2px;
  border-radius: 50%;
}

.social-button:hover svg,
.social-button:focus svg {
  opacity: 1;
  border: solid rgba(255, 255, 255, 0.7) 2px;
}

.social-button:active path {
  fill: #e9e9e9;
  border: solid rgba(255, 255, 255, 0.7) 2px;
  box-shadow: inset 0px 2px 1px 0px #888888;
}

.footer-info {
  max-width: 612px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-info ul:first-child {
  position: relative;
  max-width: 293px;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-right: 27px;
  padding-left: 83px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer-info ul:first-child::before {
  content: "";
  position: absolute;
  top: 19px;
  left: 62px;
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-info ul:first-child:hover::before svg,
.footer-info ul:first-child:focus::before svg {
  background-color: #ffbc9e;
}

.footer-info ul:last-child {
  max-width: 319px;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer-info li {
  margin-bottom: 5px;
}

.footer-info a,
.footer-copyright a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-info a:hover,
.footer-info a:focus,
.footer-info a:active,
.footer-copyright a:hover,
.footer-copyright a:focus,
.footer-copyright a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.footer-copyright {
  font-size: 12px;
  max-width: 267px;
  margin: 0;
  padding: 0;
}

.footer-copyright img,
.footer-copyright img:hover,
.footer-copyright img:focus,
.footer-copyright img:active {
  border-bottom: none;
}

.footer-copyright img {
  float: right;
  padding-right: 80px;
}

.footer-copyright p {
  margin: 0;
  padding: 0;
  margin-top: 6px;
  float: right;
}






/* catalog */

.inner-page .main-header {
  margin-bottom: 19px;
}

a.navigation-current,
a.navigation-current:hover,
a.navigation-current:focus {
  margin: 0;
  color: #ffffff;
  text-decoration: none;
  background-color: #d07058;
  border-radius: 20px;
  padding: 7px 14px;
}

.catalog-link-inner:hover .navigation-current {
  color: #ffffff;
}

.breadcrumbs {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  min-height: 16px;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  display: flex;
}

.breadcrumbs li {
  padding-right: 7px;
}

.breadcrumbs a {
  color: #ffffff;
  padding-right: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.page-title {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  color: #ffffff;
  width: 1146px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.filters {
  width: 860px;
  margin-bottom: 40px;
}

.filter {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.filter fieldset {
  border: none;
}

.legend,
.filter legend {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
}

.filter select {
  font: inherit;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.filter select:hover,
.filter select:focus {
  color: #323232;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
}

.filter select:active {
  outline: none;
  border: none;
}

.filter option {
  font: inherit;
  color: #323232;
  background-color: #ffffff;
  border: none;
}

.filter option:hover,
.filter option:focus {
  color: #ffffff;
  background-color: #1e90ff;
  outline: none;
  border: none;
}

.filter-sorting {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.filter-sorting .legend {
  width: 163px;
  min-height: 16px;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 16px;
  padding: 0;
}

.filter-sorting select {
  width: 193px;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 16px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sorting-select::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 9px 5px 0 5px;
  border-color: #ffffff transparent transparent transparent;
  top: 36px;
  right: 15px;
  z-index: 1;
  pointer-events: none;
}

.sorting-select:hover::after {
  border-style: solid;
  border-width: 9px 5px 0 5px;
  border-color: #323232 transparent transparent transparent;
}

.sorting-select::before {
  display: none;
  content: "";
  position: absolute;
  left: 0;
  top: 21px;
  width: 164px;
  height: 21px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 7px 14px;
  z-index: -1;
}

.sorting-select:hover::before {
  display: block;
}

.filter-price {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.filter-price .legend {
  width: 182px;
  min-height: 16px;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 13px;
  padding: 0;
}



.range-controls {
  position: relative;
  width: 176px;
  height: 18px;
  padding-top: 18px;
  padding-right: 21px;
  padding-left: 21px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.range-controls .scale {
  height: 2px;
  background-color: rgba(248, 247, 244, 0.5);
}

.range-controls .bar {
  width: 100px;
  height: 2px;
  background: #f8f7f4;
}

.range-controls .toggle {
  position: absolute;
  top: 9px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 33px;
}

.range-controls .toggle-max {
  left: 131px;
}

.range-controls .toggle:hover,
.range-controls .toggle:focus {
  transform: scale(1.1);
}

.filter ul {
  font-size: 16px;
  line-height: 18px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.filter-fat .filter-option:first-child {
  margin-left: 40px;
}

.filter-fat .filter-option:last-child {
  margin-right: 19px;
}

.filter-fat .filter-option {
  padding-top: 3px;
  padding-left: 3px;
}

.filter-fat {
  margin: 0;
  padding: 0;
  display: flex;
}

.filter-fat legend {
  width: 103px;
  min-height: 16px;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 13px;
  padding: 0;
}

.filter-fat ul {
  width: 415px;
  min-height: 36px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -31px;
  width: 16px;
  height: 16px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  opacity: 0.8;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -24px;
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0.8;
}

.filter-input-radio + label:hover::before,
.filter-input-radio + label:focus::before,
.filter-input-radio:checked + label:hover::after,
.filter-input-radio:checked + label:focus::after {
  opacity: 1;
}

.filter-wrapper {
  margin: 0;
  margin-top: 18px;
  padding: 0;
  display: flex;
}

.filter-filler {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.filter-filler legend {
  width: 251px;
  min-height: 16px;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 16px;
  padding: 0;
}

.filter-filler ul {
  position: relative;
  width: 702px;
  min-height: 36px;
  margin: 0;
  margin-right: 14px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-filler .filter-option:first-child {
  margin-left: 40px;
}

.filter-filler .filter-option:last-child {
  margin-right: 18px;
}

.filter-filler .filter-option {
  padding-left: 7px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -33px;
  width: 17px;
  height: 17px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  opacity: 0.8;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -34px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-size: 26px 21px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox + label:focus::before,
.filter-input-checkbox:checked + label:hover::after,
.filter-input-checkbox:checked + label:focus::after {
  opacity: 1;
}

.filter-input:disabled + label {
  opacity: 0.4;
}

.filter-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 144px;
  height: 36px;
  margin: 0;
  margin-top: 21px;
  padding: 0;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  outline: none;
  color: #323232;
  background-color: #fbfcfb;
}

.filter-button:active {
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.catalog {
  width: 1172px;
  margin: -6px -13px 40px -13px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-item {
  position: relative;
  width: 293px;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.catalog-item h3 {
  margin: 0;
  margin-top: 5px;
  margin-left: 7px;
  margin-right: 7px;
  padding: 0;
  padding-right: 11px;
  padding-left: 11px;
  order: 1;
  text-align: center;
}

.catalog-item a:first-child {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.catalog-item a:first-child:hover,
.catalog-item a:first-child:focus,
.catalog-item a:first-child:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.catalog-item .catalog-price {
  top: 215px;
}

.catalog-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: -43px;
  padding-bottom: 43px;
  z-index: 1;
}

.catalog-item .button {
  display: none;
  color: #ffffff;
  background-image: linear-gradient(#f26843, #e74a35);
  box-shadow: 0px 1px 2px 0px #ac1000;
  border-radius: 20px;
  margin: 0;
  margin-top: 6px;
  margin-left: 13px;
  padding: 10px 17px;
  order: 2;
}

.catalog-item .button:hover,
.catalog-item .button:focus {
  color: #ffffff;
  background-image: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0px 2px 2px 0px #ac1000;
  border: none;
  cursor: pointer;
}

.catalog-item .button:active {
  color: #fceeec;
  background-image: linear-gradient(#e74a35, #f26843);
  box-shadow: inset 0px 2px 2px 0px #942718;
  border: none;
  outline: none;
}

.catalog-item:hover .button {
  position: absolute;
  top: 332px;
  left: 33px;
  display: block;
}

.pagination-list {
  margin: 0;
  margin-top: 49px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.pagination-item a {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
	width: 26px;
	height: 26px;
  margin-left: 3px;
	border-radius: 50%;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item a:active {
  color: #000000;
  background-color: #ffffff;
}

.pagination-current a {
  background: rgba(255, 255, 255, 0.2);
	color: #000000;
	background-color: #ffffff;
}

.pagination-current a:hover,
.pagination-current a:focus {
  color: #323232;
  background-color: #ffffff;
  cursor: default;
}

.pagination-back {
	position: relative;
	vertical-align: top;
	display: inline-block;
	margin-right: 10px;
	width: 17px;
}

.pagination-back::before {
	position: absolute;
	content: "";
	top: 8px;
	left: 8px;
	width: 8px;
	height: 8px;
	border: 1px solid #ffffff;
	border-top-color: transparent;
  border-right-color: transparent;
  transform: rotate(45deg);
}

.pagination-disabled::before {
	border-color: rgba(255,255,255,.2);
	border-top-color: transparent;
  border-right-color: transparent;
}

.pagination-next {
  position: relative;
  width: 17px;
  margin-left: 20px;
}

.pagination-next::after {
	position: absolute;
	content: "";
	top: 8px;
	left: -8px;
	width: 8px;
	height: 8px;
	border: 1px solid #ffffff;
	border-top-color: transparent;
  border-right-color: transparent;
  transform: rotate(-135deg);
  cursor: pointer;
}

.inner-page .main-footer {
	position: relative;
}

.inner-page .main-footer:after {
	position: absolute;
	content: "";
	width: 1146px;
	height: 1px;
	top: -11px;
	left: 27px;
	background: #ffffff;
  opacity: 0.3;
}

.inner-page .footer-wrapper {
  padding-top: 8px;
}
